<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jasminbell</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
  table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-style: hidden;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1391px;
  }

  th,
  td {
      padding: 12px 15px;
  }

<!--  tbody tr:hover {-->
<!--    font-weight: 600;-->
<!--    color: #3EB489;-->
<!--    cursor: pointer;-->
<!--  }-->

  thead tr {
    background-color: #3EB489;
    color: #ffffff;
    text-align: left;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .pagination_section {
      position: relative;
    }

    /* pagination styling */
    .pagination_section a {
      color: black;
      padding: 10px 18px;
      text-decoration: none;
    }

    /* pagination hover effect on non-active */
    .pagination_section a:hover:not(.active) {
      background-color: #031F3B;
      color: white;
    }

    /* pagination hover effect on active*/

    a:nth-child(5) {
      background-color: green;
      color: white;
    }

    a:nth-child(1) {
      font-weight: bold;
    }

    a:nth-child(7) {
      font-weight: bold;
    }

    .content {
      margin: 50px;
      padding: 15px;
      width: 700px;
      height: 200px;
      border: 2px solid black;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- JavaScript -->
<script th:inline="javascript">
    let url = "";
    let type = "GET";
    let data = {};

    function updateLog(no, method) {
        data["no"] = no;

        switch (method) {
            case 'update':
                url = '/log/update';
                type = "PUT";
                data["memo"] = document.getElementById('memo' + no).value;
                data["stockedCount"] = document.getElementById('stockedCount' + no).value;
                break;
            case 'complete':
                url = '/log/complete';
                type = "PUT";
                break;
            case 'delete':
                url = '/log/delete';
                type = "DELETE";
                break;
            default:
                alert("알 수 없는 에러");
                window.location.reload();
                break;
        }

        $.ajax({
            url: url,
            type: type,
            data: data,
            success: function (response) {
                console.log(response);

                if (response.success === true) {
                    alert("완료");
                    window.location.reload();
                } else {
                    alert(response.message);
                    window.location.reload();
                }
            },
            error: function (xhr, status, error) {
                alert("억까");
                window.location.reload();
            }
        });
    }

    function deleteLog(no) {
        $.ajax({
            url: '/log/delete',
            type: 'DELETE',
            data: {
                no: no
            },
            success: function (response) {
                console.log(response);

                if (response.success === true) {
                    alert("완료");
                    window.location.reload();
                } else {
                    alert(response.message);
                    window.location.reload();
                }
            },
            error: function (xhr, status, error) {
                alert("억까");
                window.location.reload();
            }
        });
    }

    $(document).ready(function() {
        $('.complete-row').css('backgroundColor', '#b5e0d1');
<!--        $('#complete-row > td > input').attr("disabled", true);-->

        // Hide the sections initially based on the default selected value
        showHideFormSections();

        // Attach event listener to the select box
        $('#stockedStatusSelect').on('change', function() {
            showHideFormSections();
        });
    });

function showHideFormSections() {
    var selectedValue = $('#stockedStatusSelect').val();

    // Hide all form sections
    $('#initialForm').hide();
    $('#partOfStockedForm').hide();

    // Show the relevant form section based on the selected value
    if (selectedValue === 'INITIAL') {
        $('#initialForm').show();
    } else if (selectedValue === 'A_PART_OF_STOCKED') {
        $('#partOfStockedForm').show();
    }
}
</script>

<body>
<header><a href="./?page=0&size=30&sort=supplier,name,supplierOption,asc">HOME</a></br></header>
<h1><span th:text="${product.code}"></span> | <span th:text="${product.name}"></span></h1>
<hr style="border: 2px solid #000">
최신화 : <span th:text="${product.isUpdate ? 'O' : 'X'}">O</span><br/>
업로드 입고 대기 : <span th:text="${product.stockedWaiting}"></span><br/>
업로드 금일입고 : <span th:text="${product.stockedToday}"></span><br/><br/>
<hr>
<!--    <label for="stockedStatusSelect">타입:</label>-->
<!--    <select name="stockedStatus" id="stockedStatusSelect">-->
<!--        <option th:each="status : ${T(com.southouse.jasminbell.entity.StockedStatus).values()}"-->
<!--                th:unless="${status == T(com.southouse.jasminbell.entity.StockedStatus).COMPLETE}"-->
<!--                th:value="${status}"-->
<!--                th:text="${status.getDisplayName()}">-->
<!--        </option>-->
<!--    </select>-->

<!--    <div id="initialForm">-->
        <form th:action="@{/log/create}" method="post" th:object="${createProductLog}">
            <input type="hidden" id="productCode" name="productCode" th:value="${product.code}" required>
            <label for="date">날짜:</label>
            <input type="date" id="date" name="date" required>

            <label for="memo">메모:</label>
            <input type="text" id="memo" name="memo" th:field="*{memo}">

            <label for="requestCount">수량:</label>
            <input type="number" id="requestCount" th:field="*{requestCount}" name="requestCount" required>
<!--    </div>-->

<!--    <div id="partOfStockedForm">-->
<!--        <form th:action="@{/log/update}" method="post" th:object="${createProductLog}">-->
<!--            <input type="hidden" id="productCode" name="productCode" th:value="${product.code}" required>-->
<!--            <label for="date">날짜:</label>-->
<!--            <input type="date" id="date" name="date" required>-->

<!--            <label for="memo">메모:</label>-->
<!--            <input type="text" id="memo" name="memo" th:field="*{memo}" required>-->

<!--            <label for="requestCount">수량:</label>-->
<!--            <input type="number" id="requestCount" th:field="*{requestCount}" name="requestCount" required>-->
<!--        </form>-->
<!--    </div>-->

    <button type="submit">생성</button>
</form><br/><br/>
<hr>
<table class="tb_col" border="1">
    <thead>
        <tr>
            <th>No</th>
            <th>요청일시</th>
            <th>요청수량</th>
            <th>메모</th>
            <th>입고상태</th>
            <th>입고수량</th>
            <th colspan="3">작업</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="productLog : ${productLogList}" th:class="${productLog.stockedStatus == T(com.southouse.jasminbell.entity.StockedStatus).COMPLETE} ? 'complete-row' : ''">
            <td th:text="${productLog.no}"></td>
            <td th:text="${productLog.requestDate}"></td>
            <td th:text="${productLog.requestCount}"></td>
            <td><input type="text" th:id="'memo' + ${productLog.no}" th:value="${productLog.memo}" /></td>
            <td>
                <span th:if="${productLog.stockedStatus == T(com.southouse.jasminbell.entity.StockedStatus).INITIAL}">대기</span>
                <span th:if="${productLog.stockedStatus == T(com.southouse.jasminbell.entity.StockedStatus).A_PART_OF_STOCKED}">부분입고</span>
                <span th:if="${productLog.stockedStatus == T(com.southouse.jasminbell.entity.StockedStatus).COMPLETE}">완료</span>
                <span th:if="${productLog.stockedStatus != T(com.southouse.jasminbell.entity.StockedStatus).INITIAL
                && productLog.stockedStatus != T(com.southouse.jasminbell.entity.StockedStatus).A_PART_OF_STOCKED
                && productLog.stockedStatus != T(com.southouse.jasminbell.entity.StockedStatus).COMPLETE}">기타</span>
            </td>
            <td><input type="text" th:id="'stockedCount' + ${productLog.no}" th:value="${productLog.stockedCount}" /></td>
            <td><button th:onclick="updateLog([[${productLog.no}]], 'update')">업데이트</button></td>
            <td><button th:onclick="updateLog([[${productLog.no}]], 'complete')">완료처리</button></td>
            <td><button th:onclick="updateLog([[${productLog.no}]], 'delete')">삭제</button></td>
        </tr>
    </tbody>
</table>

<div class="pagination_section" th:if="${!#lists.isEmpty(productLogList.content)}">

    <!-- 이전 페이지로 이동하는 화살표 버튼 -->

    <a th:if="${currentPage > 0}" th:href="@{/detail(code=${product.code},page=0,size=30,sort=${#strings.replace('requestDate,asc', ',', ',')})}">&lt;&lt;</a>


    <!-- 페이지 번호 버튼 -->
    <span th:each="pageNum : ${#numbers.sequence(0, totalPage - 1)}">
        <a th:if="${pageNum != currentPage}" th:href="@{/detail(code=${product.code},page=${pageNum},size=30,sort=${#strings.replace('requestDate,asc', ',', ',')})}" th:text="${pageNum + 1}"></a>
        <span th:if="${pageNum == currentPage}" th:text="${pageNum + 1}"></span>
    </span>


    <!-- 다음 페이지로 이동하는 화살표 버튼 -->

    <a th:if="${currentPage < totalPage - 1}" th:href="@{/detail(code=${product.code},page=${totalPage - 1},size=30,sort=${#strings.replace('requestDate,asc', ',', ',')})}">&gt;&gt;</a>

</div>

<footer><h1>Made by southouse</h1></footer>
</body>
</html>