<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Jasminbell</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
  table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-style: hidden;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1391px;
  }

  th,
  td {
      padding: 12px 15px;
  }

  tbody tr:hover {
    font-weight: 600;
    color: #3EB489;
    cursor: pointer;
  }

  thead tr {
    background-color: #3EB489;
    color: #ffffff;
    text-align: left;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }

  .pagination_section {
      position: relative;
    }

    /* pagination styling */
    .pagination_section a {
      color: black;
      padding: 10px 18px;
      text-decoration: none;
    }

    /* pagination hover effect on non-active */
    .pagination_section a:hover:not(.active) {
      background-color: #031F3B;
      color: white;
    }

    /* pagination hover effect on active*/

    a:nth-child(5) {
      background-color: green;
      color: white;
    }

    a:nth-child(1) {
      font-weight: bold;
    }

    a:nth-child(7) {
      font-weight: bold;
    }

    .content {
      margin: 50px;
      padding: 15px;
      width: 700px;
      height: 200px;
      border: 2px solid black;
    }
</style>
<script>
  const pagination = (no) => {
    let location = window.location;
    let origin = location.origin;
    let pathName = location.pathname;
    let urlParameter = location.search.substring(1).split('&');

    urlParameter[0] = `page=${no}`;

    window.location.href = origin + pathName + "?" + urlParameter.join('&');
  }

  $(document).ready(function(){
    var value = getCookie("filter");

    $('#default_table').hide();
    $('#update_table').hide();
    $('#reserved_table').hide();

  if(value === 'need_update'){
    $("#need_update").attr("checked", true);
    $("#update_table").show();
  } else if (value === 'now_reserved') {
    $("#now_reserved").attr("checked", true);
    $("#reserved_table").show();
  } else {
    $("#default").attr("checked", true);
    $("#default_table").show();
  }

<!--  $("#checkId").change(function(){ // 체크박스에 변화가 있다면,-->
<!--      if($("#checkId").is(":checked")){ // ID 저장하기 체크했을 때,-->
<!--          setCookie("key", $("#id").val(), 7); // 7일 동안 쿠키 보관-->
<!--      }else{ // ID 저장하기 체크 해제 시,-->
<!--          deleteCookie("key");-->
<!--      }-->
<!--  });-->

});

const update = (code) => {
  window.location.href = '/detail?code=' + code + '&page=0&size=30&sort=requestDate,asc'
}

function setCookie(cookie_name, value, days) {
  var exdate = new Date();
  exdate.setDate(exdate.getDate() + days);
  // 설정 일수만큼 현재시간에 만료값으로 지정

  var cookie_value = escape(value) + ((days == null) ? '' : '; expires=' + exdate.toUTCString());
  document.cookie = cookie_name + '=' + cookie_value;

  var value = getCookie("filter");

  $('#default_table').hide();
  $('#update_table').hide();
  $('#reserved_table').hide();

  // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
  if(value === 'need_update'){
    $("#need_update").attr("checked", true);
    $("#update_table").show();
    pagination(0);
  } else if (value === 'now_reserved') {
    $("#now_reserved").attr("checked", true);
    $("#reserved_table").show();
    pagination(0);
  } else {
    $("#default").attr("checked", true);
    $("#default_table").show();
    pagination(0);
  }
}

  function getCookie(cookie_name) {
    var x, y;
    var val = document.cookie.split(';');

    for (var i = 0; i < val.length; i++) {
      x = val[i].substr(0, val[i].indexOf('='));
      y = val[i].substr(val[i].indexOf('=') + 1);
      x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
      if (x == cookie_name) {
        return unescape(y); // unescape로 디코딩 후 값 리턴
      }
    }
  }

  function uploadFile() {
      var fileInput = document.getElementById('upload_excel');
      var file = fileInput.files[0];
      var formData = new FormData();
      formData.append('file', file);

      $.ajax({
          type: 'POST',
          url: '/upload',
          data: formData,
          processData: false,
          contentType: false,
          success: function() {
              alert('파일 업로드가 완료되었습니다.');
              window.location.reload();
          },
          error: function() {
              alert('파일 업로드 중 오류가 발생했습니다.');
          }
      });
  }
</script>
<body>
<header>
  <a href="./?page=0&size=30&sort=supplier,name,supplierOption,asc">HOME</a>
  <h3>데이터 연동 일시 : <span th:text="${excel.syncTime}"></span></h3>

  <input type="radio" id="default" name="filter" onclick="setCookie('filter', '', 1)">기본
  <input type="radio" id="need_update" name="filter" onclick="setCookie('filter', 'need_update', 1)">최신화 필요만 조회
  <input type="radio" id="now_reserved" name="filter" onclick="setCookie('filter', 'now_reserved', 1)">현재 잔미송 상품만 조회

  <hr>
    <input type="file" id="upload_excel" name="upload_excel" />
    <button type="submit" onclick="uploadFile()">업로드</button>

  <hr>
  <select>
    <option>이름</option>
    <option>공급처</option>
  </select>
  <input type="text" id="search" name="search" />
  <button type="submit">검색</button>

</header>
<div id="default_table">
  <table class="tb_col">
    <thead>
      <tr>
        <th rowspan="2">No</th>
        <th rowspan="2">공급처</th>
        <th rowspan="2">상품코드</th>
        <th rowspan="2">상품명</th>
        <th rowspan="2">공급처 옵션</th>
        <th colspan="2">현재 잔미송</th>
        <th rowspan="2">최신화</th>
      </tr>
      <tr>
        <th>수량</th>
        <th>건수</th>
      </tr>
    </thead>
   <tbody>
     <tr th:each="product : ${productList}" th:onclick="update([[${product.code}]])">
       <td th:text="${product.no}"></td>
       <td th:text="${product.supplier}"></td>
       <td th:text="${product.code}"></td>
       <td th:text="${product.name}"></td>
       <td th:text="${product.supplierOption}"></td>
       <td th:text="${product.reservedCount}"></td>
       <td th:text="${product.reservedCase}"></td>
       <td th:text="${product.isUpdate ? 'O' : 'X'}">O</td>
     </tr>
   </tbody>
  </table>

  <div class="pagination_section" th:if="${!#lists.isEmpty(productList.content)}">

      <!-- 이전 페이지로 이동하는 화살표 버튼 -->
        <a th:if="${productList.number > 0}" onclick="pagination(0)">&lt;&lt;</a>
<!--        <a th:if="${productList.number > 0}" th:href="@{/(page=0,size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}">&lt;&lt;</a>-->

      <!-- 페이지 번호 버튼 -->
        <span th:each="pageNum : ${#numbers.sequence(0, productList.totalPages - 1)}">
<!--          <a th:if="${pageNum != productList.number}" th:href="@{/(page=${pageNum},size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}" th:text="${pageNum + 1}"></a>-->
          <a th:if="${pageNum != productList.number}" th:onclick="pagination([[${pageNum}]])" th:text="${pageNum + 1}"></a>
          <span th:if="${pageNum == productList.number}" th:text="${pageNum + 1}"></span>
        </span>

      <!-- 다음 페이지로 이동하는 화살표 버튼 -->
<!--        <a th:if="${productList.number < productList.totalPages - 1}" th:href="@{/(page=${productList.totalPages - 1},size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}">&gt;&gt;</a>-->
        <a th:if="${productList.number < productList.totalPages - 1}" th:onclick="pagination([[${productList.totalPages - 1}]])">&gt;&gt;</a>
  </div>
</div>

<div id="update_table">
  <table class="tb_col">
    <thead>
    <tr>
      <th rowspan="2">No</th>
      <th rowspan="2">공급처</th>
      <th rowspan="2">상품코드</th>
      <th rowspan="2">상품명</th>
      <th rowspan="2">공급처 옵션</th>
      <th colspan="2">현재 잔미송</th>
      <th rowspan="2">최신화</th>
    </tr>
    <tr>
      <th>수량</th>
      <th>건수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productListByNeedUpdate}" th:onclick="update([[${product.code}]])">
      <td th:text="${product.no}"></td>
      <td th:text="${product.supplier}"></td>
      <td th:text="${product.code}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.supplierOption}"></td>
      <td th:text="${product.reservedCount}"></td>
      <td th:text="${product.reservedCase}"></td>
      <td th:text="${product.isUpdate ? 'O' : 'X'}">O</td>
    </tr>
    </tbody>
  </table>

  <div class="pagination_section" th:if="${!#lists.isEmpty(productListByNeedUpdate.content)}">

    <!-- 이전 페이지로 이동하는 화살표 버튼 -->
    <a th:if="${productListByNeedUpdate.number > 0}" th:href="@{/(page=0,size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}">&lt;&lt;</a>

    <!-- 페이지 번호 버튼 -->
    <span th:each="pageNum : ${#numbers.sequence(0, productListByNeedUpdate.totalPages - 1)}">
          <a th:if="${pageNum != productListByNeedUpdate.number}" th:href="@{/(page=${pageNum},size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}" th:text="${pageNum + 1}"></a>
          <span th:if="${pageNum == productListByNeedUpdate.number}" th:text="${pageNum + 1}"></span>
        </span>

    <!-- 다음 페이지로 이동하는 화살표 버튼 -->
    <a th:if="${productListByNeedUpdate.number < productListByNeedUpdate.totalPages - 1}" th:href="@{/(page=${productListByNeedUpdate.totalPages - 1},size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}">&gt;&gt;</a>
  </div>
</div>

<div id="reserved_table">
  <table class="tb_col">
    <thead>
    <tr>
      <th rowspan="2">No</th>
      <th rowspan="2">공급처</th>
      <th rowspan="2">상품코드</th>
      <th rowspan="2">상품명</th>
      <th rowspan="2">공급처 옵션</th>
      <th colspan="2">현재 잔미송</th>
      <th rowspan="2">최신화</th>
    </tr>
    <tr>
      <th>수량</th>
      <th>건수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productListByReserved}" th:onclick="update([[${product.code}]])">
      <td th:text="${product.no}"></td>
      <td th:text="${product.supplier}"></td>
      <td th:text="${product.code}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.supplierOption}"></td>
      <td th:text="${product.reservedCount}"></td>
      <td th:text="${product.reservedCase}"></td>
      <td th:text="${product.isUpdate ? 'O' : 'X'}">O</td>
    </tr>
    </tbody>
  </table>

  <div class="pagination_section" th:if="${!#lists.isEmpty(productListByReserved.content)}">

    <!-- 이전 페이지로 이동하는 화살표 버튼 -->
    <a th:if="${productListByReserved.number > 0}" th:href="@{/(page=0,size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}">&lt;&lt;</a>

    <!-- 페이지 번호 버튼 -->
    <span th:each="pageNum : ${#numbers.sequence(0, productListByReserved.totalPages - 1)}">
          <a th:if="${pageNum != productListByReserved.number}" th:href="@{/(page=${pageNum},size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}" th:text="${pageNum + 1}"></a>
          <span th:if="${pageNum == productListByReserved.number}" th:text="${pageNum + 1}"></span>
        </span>

    <!-- 다음 페이지로 이동하는 화살표 버튼 -->
    <a th:if="${productListByReserved.number < productListByReserved.totalPages - 1}" th:href="@{/(page=${productListByReserved.totalPages - 1},size=30,sort=${#strings.replace('supplier,name,supplierOption,asc', ',', ',')})}">&gt;&gt;</a>
  </div>
</div>

<footer><h1>Made by southouse</h1></footer>
</body>
</html>